body {
    font-family: 'Your Chosen Font', sans-serif;
    background-image: url("../images/paul-pastourmatzis-KT3WlrL_bsg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 40px;
    overflow-x: hidden;
    overflow-y: hidden;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url("../images/paul-pastourmatzis-KT3WlrL_bsg-unsplash.jpg") center/cover no-repeat;
}

h1 {
    color: #495464;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
}
#locationInput{
    border-radius: 5px;
    height: 5vh;
    width: 100vh;
    border-style: none;
    outline: none;
}

button{
    border-radius: 5px;
    height: 5vh;
    margin-top: 10px;
    border-color: #495464;
    border-style: none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #30475e;
    color: #fff;
}

.grid{
    /* margin: 0px 10px 0px 10px; */
    text-align: center;
    display: grid;
    grid-template-columns: 120vh 50vh;
    grid-template-rows: 1;
    justify-content: center;
    /* height: 100vh; */
}
.grid1{
    padding: 10px;
    background-color:#F4F4F2;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    max-height: 600px;
}
.svgFlex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.grid2{
    padding: 10px;
    position: relative;
    background-color:#E8E8E8;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    max-width: 300px;
    max-height: 600px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.temp{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}
.wind{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.rain{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wind img, .rain img{
    height: 40px;
}
.temp h1{
    margin: 10px;
    font-weight: bolder;
    font-size: 30vh;
    margin-bottom: 0px;
    margin-left: 35vh;
}
.condition h2{
    font-weight: lighter; 
    font-size: 30px; 
    color: #BBBFCA; 
    margin-top: 0;
}
.gridFlex{
    display: flex;
    justify-content: space-between;
}
.timestampWeather {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
    justify-content: center;
    margin-top: 10%;
  }
  
  .box {
    width: 80px;
    height: 120px; 
    border-style: none;
    border-radius: 15px;
    padding: 5px;
    margin: 0px; 
    margin-bottom: 20px;
    color: #495464;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .grid2boxes{
    display: flex;
    position: absolute;
    bottom: 0;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
  }
  .box2{
    width: 70px;
    border-style:groove;
    border-color: #F4F4F2;
    border-radius: 15px;
    padding: 5px;
    margin: 0px;
    color: #495464;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .box:hover, .box2:hover {
    transform: scale(1.05); /* Example: Scale up by 5% */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Example: Shadow effect */
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: none;
    color: #646464;
    padding: 0.7rem;
    border-radius: 30px;
    width: 25em;
    transition: all ease-in-out 0.5s;
    margin-right: -2.5rem; /* Adjusted margin */
    background-color: #e8e8e8;
}

.search__input:hover,
.search__input:focus {
    box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
    outline: none;
    background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: #ccc;
}

.search__input:focus + .search__button {
    background-color: #f0eeee;
}

.search__button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e8e8e8;
    transition: background-color 0.3s ease;
    margin-left: 0;
    margin-bottom: .66565rem;
}

.search__button:hover {
    cursor: pointer;
    background-color: #f4f2f29b;
}

.search__icon {
    height: 1.3em;
    width: 1.3em;
    fill: #b4b4b4;
}

@media (max-width: 935px) and (min-width: 814px) {
    #locationInput {
        width: 60vw;
    }
    .searchForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .grid {
        grid-template-columns: 110vh 40vh;
    }
}

@media (max-width: 814px) and (min-width: 250px) {
    #locationInput {
        width: 60vw;
    }
    .flex {
        height: 35vh;
    }
    .searchForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .grid {
        grid-template-columns: 1fr; /* One column */
        grid-template-rows: auto auto; /* Two rows */
    }
    .grid1 {
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 0px;
    }
    .grid2 {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }
    .temp {
        flex-direction: column;
    }
    .temp h1 {
        margin: 0px;
        font-size: 100px;
    }
    .svgFlex {
        flex-direction: row;
        justify-content: space-between;
    }
    .wing img, .rain img {
        height: 35px;
    }
}